@use "../variables" as *;

.project-category-wrapper {
    .project-category-top {
        max-width: 641px;
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
        margin: 0 auto;
        text-align: center;

        .project-category-badge {
            display: inline-block;
            color: var(--color-blue-700);
            font-family: var(--font-body);
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: -.01em;
            text-transform: uppercase;
            background-color: var(--color-blue-50);
            border-radius: 99px;
            padding: 4px 12px 4px 26px;
            margin: 0 0 16px;
            position: relative;

            &::before {
                content: '';
                width: 6px;
                height: 6px;
                background-color: var(--color-blue-700);
                border-radius: 50%;
                position: absolute;
                left: 12px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .project-category-title {
            color: var(--color-neutral-1);
            font-family: var(--font-title);
            font-weight: 500;
            font-size: 30px;
            line-height: 38px;
            letter-spacing: -.01em;
            margin: 0;
        }

        .project-category-description {
            margin: 28px 0 0;

            p {
                color: var(--color-neutral-2);
                font-family: var(--font-body);
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                letter-spacing: -1%;
                text-align: center;
                margin: 0 0 16px;

                &:last-child {
                    margin: 0;
                }
            }
        }
    }

    .projects-container {
        padding: 40px 0;

        .project-label {
            display: inline-block;
            color: var(--color-blue-700);
            font-family: var(--font-body);
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: -.01em;
            text-transform: uppercase;
            background-color: var(--color-blue-50);
            border-radius: 99px;
            padding: 4px 12px;
            margin: 0 0 16px;
        }

        .project-title {
            margin: 0;

            a {
                display: inline-block;
                color: var(--color-neutral-1);
                font-family: var(--font-title);
                font-weight: 500;
                font-size: 20px;
                line-height: 28px;
                letter-spacing: -.01em;
                text-decoration: none;

                &:hover {
                    color: var(--color-blue-500);
                }
            }
        }

        .project-info-list {
            margin: 16px 0 0;

            .info-item {
                margin: 0 0 6px;

                .info-label,
                .info-value {
                    color: var(--color-neutral-2);
                    font-family: var(--font-body);
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 160%;
                    letter-spacing: -.01em;
                }

                .info-value {
                    font-weight: 400;
                }

                &:last-child {
                    margin: 0;
                }
            }
        }

        .project-excerpt {
            color: var(--color-neutral-2);
            font-family: var(--font-body);
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            letter-spacing: -.01em;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 12px 0 0;
        }

        .project-action {
            margin: 16px 0 0;

            a {
                display: inline-block;
            }
        }

        .project-card-featured {
            display: flex;
            flex-wrap: wrap;
            border-radius: 16px;
            box-shadow: 0px 8px 20px 15px rgba(0, 0, 0, .03);
            padding: 12px;
            margin: 0 0 24px;
            transition: box-shadow .3s ease, transform .3s ease;

            &:hover {
                box-shadow: 0px 12px 32px 10px rgba(0, 0, 0, .08);
                transform: translateY(-4px);
            }

            .featured-content {
                order: 2;
                width: 100%;
                padding: 16px 12px;
            }

            .featured-image {
                order: 1;
                width: 100%;

                a {
                    display: block;
                    line-height: 0;
                    height: 100%;
                }

                img {
                    width: 100%;
                    min-height: 240px;
                    object-fit: cover;
                    border-radius: 12px;
                    height: 100%;
                }
            }
        }

        .projects-grid {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
        }

        .project-card-grid {
            border-radius: 16px;
            box-shadow: 0px 8px 20px 15px rgba(0, 0, 0, .03);
            padding: 12px;
            transition: box-shadow .3s ease, transform .3s ease;

            &:hover {
                box-shadow: 0px 12px 32px 10px rgba(0, 0, 0, .08);
                transform: translateY(-4px);
            }

            .grid-image {
                a {
                    display: block;
                    line-height: 0;
                }

                img {
                    width: 100%;
                    min-height: 240px;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 12px;
                }
            }

            .grid-content {
                padding: 16px 12px;
            }
        }
    }
}

.no-projects-found {
    color: var(--color-neutral-2);
    font-family: var(--font-body);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -1%;
    text-align: center;
    padding: 64px 0;
}

@media (min-width: $media-md) {
    .project-category-wrapper {
        .project-category-top {
            padding-top: 64px;
            padding-bottom: 64px;

            .project-category-title {
                font-size: 38px;
                line-height: 46px;
                letter-spacing: -.02em;
            }
        }

        .projects-container {
            padding: 0 0 80px;

            .project-info-list {
                .info-item {
                    .info-label,
                    .info-value {
                        font-size: 16px;
                        line-height: 150%;
                    }
                }
            }

            .project-excerpt {
                font-size: 16px;
                line-height: 150%;
            }

            .project-card-featured {
                margin: 0 0 40px;

                .featured-content,
                .featured-image {
                    width: 50%;
                }

                .featured-content {
                    padding: 24px 16px;
                    order: 1;
                }

                .project-title a {
                    font-size: 30px;
                    line-height: 38px;
                }

                .featured-image {
                    order: 2;
                }
            }

            .projects-grid {
                gap: 32px;
            }

            .project-card-grid {
                width: calc((100% - 32px) / 2);

                .grid-content {
                    padding: 24px 16px;
                }

                .grid-image img {
                    min-height: 300px;
                }
            }
        }
    }
}

@media (min-width: $media-lg) {
    .project-category-wrapper {
        .projects-container {
            .project-card-grid {
                width: calc((100% - 64px) / 3);
            }
        }
    }
}