@use "../variables" as *;

.contact-us-btn {
    &.elementor-widget-button .elementor-button {
        background-color: $color-green-900;
        border-radius: 12px;
        width: 100%;
        padding: 24px 32px;
        cursor: pointer;
        text-decoration: none;
        display: block;

        .elementor-button-content-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .elementor-button-text {
            color: $white;
            font-size: 20px;
            font-weight: 600;
            line-height: 1;
        }

        .elementor-button-icon {
            color: $white;
            font-size: 20px;
            line-height: 1;

            svg {
                fill: $white;
                width: 24px;
                height: 24px;
            }
        }
    }
}

@media (max-width: 991px) {
    .contact-us-btn {
        width: 100%;

        &.elementor-widget-button .elementor-button {
            padding: 20px 24px;

            .elementor-button-text {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 768px) {
    .contact-us-btn {
        &.elementor-widget-button .elementor-button {
            padding: 16px 20px;
            border-radius: 10px;

            .elementor-button-text {
                font-size: 16px;
            }

            .elementor-button-icon {
                font-size: 16px;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    .img-contact-us {
        display: none;
    }
}
